
$primary-color: #3297a8;
$secondary-color: #FFFFFF;
$header-color: #000;
$header-text-color: #fff;
$nav-text-color: #FFF;
$admission-image: url("../images/admission.jpg");
$child-image: url("../images/child.jpg");
$player-image: url("../images/player.jpg");
$header-image:  url("../images/header.jpg");
$coach-image: url("../images/coach.jpeg");
$awards-image: url("../images/awards.jpg");

%row{
     display: flex;
     flex-wrap: wrap;
}

%col{
     width: 50%;
}

%back-image{
     background-repeat: no-repeat;
     background-size: cover;
}

@mixin background-image($url){
     background-image: $url;
}

@for $i from 1 through 6 {
     .section-#{$i} {
          padding: 90px 0;
          height: 40%;
          @if $i % 2 == 1 {
               background-color: $primary-color;
          } @else {
               background-color: $secondary-color;
          }
          
     }
}

.container{
     padding-right: 15px;
     padding-left: 15px;
     margin-right: 20%;
     margin-left: 20%;
}

.row{
     @extend %row;
     height: 100%;
}
.row-nav{
     @extend %row;
}

.col-text{
     width: 45%;
     padding-right: 15px;
     padding-left: 15px;
}

.header-section{
     text-align: center;
}

.col-image-admission{
     @extend %col;
     @extend %back-image;
     @include background-image($admission-image);
}

.col-image-childhood{
     @extend %col;
     @extend %back-image;
     @include background-image($child-image);
}
.col-image-player{
     @extend %col;
     @extend %back-image;
     @include background-image($player-image);
}

.col-image-coach {
     @extend %col;
     @extend %back-image;
     @include background-image($coach-image);
}

.col-image-awards {
     @extend %col;
     @extend %back-image;
     @include background-image($awards-image);
}

.header{
     height: 500px;
}
.header-text{
     text-align: center;
     color: $header-text-color;
     font-size: 110px;
     line-height: 84px;
     font-weight: bold;
     padding-bottom: 20px;
     text-transform: uppercase;
     margin-top: 0px;
}
.big-picture{
     @extend %back-image;
     @include background-image($header-image);
     height: 100%;
}

.topnav {
     background-color: $header-color;
     overflow: hidden;
     padding-left: 20%;
     padding-right: 20%;
}

.col-nav-text{
     width: 30%;
     text-align: left;
     color: $nav-text-color;
     font-size: 35px;
     font-weight: bold;
     text-transform: uppercase;
     text-align: center;
}

.col-nav{
     width: 70%;
}

.topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

.topnav a:hover {
     background-color: #ddd;
     color: black;
}

.form-section {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
}



body {
     margin: 0 0 0 0;
}

footer {
     background-color: $header-color;
     color: $header-text-color;
     font-weight: bold;
     text-transform: uppercase;
     text-align: center;

     h2 {
          font-size: 35px;
     }

     h3 {
          font-size: 25px;
     }
}